body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.right-justified-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 3rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.disabled-anchor {
    pointer-events: none;
    color: gray !important;
}

.col-number {
    width: 9rem;
}

.col-name {
    width: auto;
}

.col-action {
    width: 20rem;
}


/* 
    Zebra stripe an HTML table.
*/

.zebra-stripe tr:nth-child(even) {
    background-color: rgba(224, 224, 224, .3);
}

.zebra-stripe tr:nth-child(odd) {
    background-color: rgba(51, 170, 51, .1);
}

.zebra-stripe tr:first-child, .table-footer {
    background-color: rgba(224, 224, 224, 9);
    color: black;
    border-bottom: 1px solid black;
}

.zebra-stripe tr > td, .zebra-stripe tr > th, .table-footer {
    padding: .4rem;
}

.table-footer {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.zebra-stripe tr>td:hover {
    background-color: rgba(245, 255, 144, 0.93);
}