@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Using ASNA Visual RPG with C#</h2>
    <p class="lead">This demo shows how to use a class library created with ASNA Visual RPG to populate C# ASP.NET MVC pages.</p>
    <p><a href="@Url.Action("index", "customer", new { page = 1 })" class="btn btn-primary btn-lg active">Go to customers list page</a></p>
</div>

