@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>C# with an ASNA Visual RPG DLL</h2>
    <p class="lead">This demo shows how to use a class library created with ASNA Visual RPG to populate C# ASP.NET MVC pages. 
    There isn't any ASNA Visual RPG used directly in this project. All of the server code in this project is C#, which references
    .NET DLLs created with ASNA Visual RPG.</p>
    <p><a href="@Url.Action("index", "customer", new { page = 1 })" class="btn btn-primary btn-lg active">Go to customers list page</a></p>
</div>

